<h2 id='title'>Welcome to Newrelics Test App</h2>
<a href="#" {{action 'throwException'}}>Throw exception</a>
<a href="#" {{action 'promiseError'}}>Promise Error</a>
<a href="#" {{action 'emberError'}}>Ember Error</a>
<a href="#" {{action 'ajaxError'}}>Ajax Error</a>
{{outlet}}
